html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
}

.laser-source {
  fill: red;
}

.reflected-laser-origin {
  fill: rgba(255, 0, 0, 0.5);
}

.laser-line {
  stroke: red;
  stroke-width: 1px;
  fill: none;
  pointer-events: none;
}

.laser-hit {
  fill: red;
}

.mirror {
  stroke-width: 4px;
  stroke: blue;
}

.mirror-handle {
  fill: green;
}
.mirror-handle:hover {
  fill: orange;
}

.swept-area {
  stroke: none;
  pointer-events: none;
}

.mirror.hit {
  stroke: orange;
}

.debug-point {
  fill: rgba(0, 255, 0, 0.5);
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.toolbox {
  position: fixed;
  left: 0;
  top: 0;
  margin: 10px;
}

.toolbox-item {
  padding: 5px;
  margin-top: 5px;
  background-color: #ddd;
}

.hidden {
  display: none;
}