html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#mainContainer {
  overflow: hidden !important;
  border: 4px solid #ddd;
}

.main-content {
  height: 100%;
}

svg {
  width:  3000px;
  height: 3000px;
}

polymer-panzoom {
  position: absolute;
  left:   -500px;
  top:    -500px;
  padding-left: 500px;
  padding-top:  500px;
  right:  -500px;
  bottom: -500px;
  overflow: hidden;
}

.laser-source {
  fill: red;
  stroke: #000;
  stroke-width: 1px;
  cursor: pointer;
}

.laser-source:hover {
  fill: orange;
}

.reflected-laser-origin {
  fill: rgba(255, 0, 0, 0.5);
}

.reflected-laser-origin-normal {
  stroke: rgba(128, 0, 0, 0.5);
  stroke-width: 1px;
}

.laser-line {
  stroke: red;
  stroke-width: 1px;
  stroke-linejoin: bevel;
  fill: none;
  pointer-events: none;
  opacity: 0.8;
}

.mirror {
  stroke-width: 4px;
  stroke: blue;
}

.mirror-handle {
  fill: green;
  cursor: pointer;
}
.mirror-handle:hover {
  fill: orange;
}

.swept-area {
  stroke: none;
  pointer-events: none;
}

.mirror.hit {
  stroke: orange;
}

.debug-point {
  fill: rgba(0, 255, 0, 0.5);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.toolbox {
  position: fixed;
  left: 0;
  top: 0;
  margin: 10px;
}

.toolbox-item {
  padding: 5px;
  margin-top: 5px;
/*   background-color: #ddd; */
/*   display: block; */
}

.toolbox-item paper-input {
  width: 100px !important;
}

.hidden {
  display: none;
}

.toggle {
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #ddd;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.toggle:focus {
  outline: none;
}

.toggle.on {
  background-color: green;
}

.toggle.off {
  background-color: red;
}